{
	"bind_addr": "$IP_CLIENT",
	"server": false,
	"node_id": "00000000-aaaa-1111-9999-a0123456789z",
	"datacenter": "ConsulDatacenter",
	"node_name": "$NAME_CLIENT",
	"data_dir": "/tmp/consul",
	"log_level": "INFO", 
	"enable_syslog": true,
	"enable_debug": true,
	"disable_update_check": true,
	"check_update_interval": "1s",
	"leave_on_terminate": true,
	"skip_leave_on_interrupt": true,
	"rejoin_after_leave": true,
	"retry_join": ["$IP_SERVER"]
}
