{
	"datasets": [
	{
		"enable": true,
		"docker": false,
		"name": "tank/foo",
		"snapshot": "FOO",
		"retain": 5,
		"backup": true,
		"clone": {
			"enable": true,
			"name": "tank/foo_clone",
			"delete": true
		}
	},
	{
		"enable": false,
		"docker": false,
		"name": "tank/bar",
		"snapshot": "BAR",
		"retain": 3,
		"backup": false,
		"clone": {
			"enable": false,
			"name": "tank/bar_clone",
			"delete": false
		}
	}]
}
