{
	"datasets": [
	{
		"hostname": "LocalHostname",
		"datacenter": "ConsulDatacenter",
		"dataset": "tank/FOO",
		"backup": {
			"creation": "00 * * * *",
			"prefix": "snapBK",
			"sync_on": "SyncHostname",
			"sync_dataset": "tank/COPY",
			"sync_policy": "00 4 * * *",
			"retention": "24d1w1m1y"
		},
		"sync": {
			"creation": "00 4 * * *",
			"prefix": "snapSYNC",
			"sync_on": "SyncHostname",
			"sync_dataset": "tank/copySYNC",
			"sync_policy": "asap",
			"retention": "24d1w1m1y"
		},
		"rollback_needed": true,
		"skip_renamed": true,
		"skip_not_written": true,
		"skip_cloned": true
	}]
}
